.font-gothic1 {
  font-family: var(--font-unifraktur-cook);
}

.font-gothic2 {
  font-family: var(--font-medieval-sharp);
}

.font-accent {
  font-family: var(--font-cinzel);
}

.font-readable {
  font-family: var(--font-gloock);
}

.font-title {
  font-family: var(--font-germania-one);
}

.font-mystery {
  font-family: var(--font-eagle-lake);
}