@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #3C3B3F;
  /* --background-gradient: linear-gradient(to right, #605C3C, #3C3B3F); */
  --foreground: hsla(0, 0%, 98.5%, 1);
  --card: hsla(0, 0%, 100%, 1);
  --card-foreground: hsla(0, 0%, 14.5%, 1);
  --popover: hsla(0, 0%, 100%, 1);
  --popover-foreground: hsla(0, 0%, 14.5%, 1);
  --primary: hsla(293, 80%, 40%, 1);
  --primary-foreground: hsla(0, 0%, 98.5%, 1);
  --secondary: hsla(0, 0%, 97%, 1);
  --secondary-foreground: hsla(0, 0%, 20.5%, 1);
  --muted: hsla(0, 0%, 97%, 1);
  --muted-foreground: hsla(0, 0%, 55.6%, 1);
  --accent: hsla(0, 0%, 97%, 1);
  --accent-foreground: hsla(0, 0%, 20.5%, 1);
  --destructive: hsla(27, 75%, 57.7%, 1);
  --border: hsla(0, 0%, 92.2%, 1);
  --input: hsla(0, 0%, 92.2%, 1);
  --ring: hsla(0, 0%, 70.8%, 1);
  --chart-1: hsla(41, 70%, 64.6%, 1);
  --chart-2: hsla(185, 65%, 60%, 1);
  --chart-3: hsla(227, 60%, 39.8%, 1);
  --chart-4: hsla(84, 65%, 82.8%, 1);
  --chart-5: hsla(70, 65%, 76.9%, 1);
  --sidebar: hsla(0, 0%, 98.5%, 1);
  --sidebar-foreground: hsla(0, 0%, 14.5%, 1);
  --sidebar-primary: hsla(293, 80%, 40%, 1);
  --sidebar-primary-foreground: hsla(0, 0%, 98.5%, 1);
  --sidebar-accent: hsla(0, 0%, 97%, 1);
  --sidebar-accent-foreground: hsla(0, 0%, 20.5%, 1);
  --sidebar-border: hsla(0, 0%, 92.2%, 1);
  --sidebar-ring: hsla(0, 0%, 70.8%, 1);
  
  /* Couleurs des rôles */
  --team-loup: 27; /* Rouge */
  --team-village: 265; /* Bleu */
  --team-multi: 293; /* Violet */
  --team-independant: 150; /* Vert */
}

.dark {
  --background: #3C3B3F;
  --background-gradient: linear-gradient(to right, #393516, #1a142a);
  --foreground: hsla(0, 0%, 98.5%, 1);
  --card: hsla(0, 0%, 15%, 1);
  --card-foreground: hsla(0, 0%, 98.5%, 1);
  --popover: hsla(0, 0%, 20.5%, 1);
  --popover-foreground: hsla(0, 0%, 98.5%, 1);
  --primary: rgb(190, 0, 255);
  --primary-foreground: hsla(0, 0%, 98.5%, 1);
  --primary-gradient: linear-gradient(to right, #978500, #19005e);  
  --secondary: hsla(0, 0%, 26.9%, 1);
  --secondary-foreground: hsla(0, 0%, 98.5%, 1);
  --muted: hsla(0, 0%, 26.9%, 1);
  --muted-foreground: hsla(0, 0%, 70.8%, 1);
  --accent: hsla(0, 0%, 26.9%, 1);
  --accent-foreground: hsla(0, 0%, 98.5%, 1);
  --destructive: hsla(22, 70%, 70.4%, 1);
  --border: hsla(0, 0%, 100%, 0.1);
  --input: hsla(0, 0%, 100%, 0.15);
  --ring: hsla(0, 0%, 55.6%, 1);
  --chart-1: hsla(264, 75%, 48.8%, 1);
  --chart-2: hsla(162, 60%, 69.6%, 1);
  --chart-3: hsla(70, 65%, 76.9%, 1);
  --chart-4: hsla(304, 75%, 62.7%, 1);
  --chart-5: hsla(16, 75%, 64.5%, 1);
  --sidebar: hsla(0, 0%, 20.5%, 1);
  --sidebar-foreground: hsla(0, 0%, 98.5%, 1);
  --sidebar-primary: hsla(293, 80%, 50%, 1);
  --sidebar-primary-foreground: hsla(0, 0%, 98.5%, 1);
  --sidebar-accent: hsla(0, 0%, 26.9%, 1);
  --sidebar-accent-foreground: hsla(0, 0%, 98.5%, 1);
  --sidebar-border: hsla(0, 0%, 100%, 0.1);
  --sidebar-ring: hsla(0, 0%, 55.6%, 1);
  
  /* Couleurs des rôles - version sombre */
  --team-loup: 0; /* Rouge bordeaux */
  --team-village: 250; /* Bleu */
  --team-multi: 293; /* Violet */
  --team-independant: 110; /* Vert */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    background: var(--background);  /* fallback */
    background: var(--background-gradient);
  }
}


@layer utilities {
  .bg-primary-gradient {
    background: var(--primary-gradient);
  }
  .bg-team-loup {
    background-color: hsla(var(--team-loup), 65%, 10%, 1);
  }
  .bg-team-village {
    background-color: hsla(var(--team-village), 65%, 10%, 1);
  }
  .bg-team-multi {
    background-color: hsla(var(--team-multi), 65%, 10%, 1);
  }
  .bg-team-independant {
    background-color: hsla(var(--team-independant), 65%, 10%, 1);
  }
  .bg-team-loup-gradient {
    background: linear-gradient(45deg, hsla(var(--team-loup), 100%, 10%, 1), hsla(var(--team-loup), 100%, 35%, 0.8));
  }
  .bg-team-village-gradient {
    background: linear-gradient(45deg, hsla(var(--team-village), 65%, 10%, 1), hsla(var(--team-village), 65%, 35%, 0.8));
  }
  .bg-team-multi-gradient {
    background: linear-gradient(45deg, hsla(var(--team-multi), 65%, 10%, 1), hsla(var(--team-multi), 65%, 35%, 0.8));
  }
  .bg-team-independant-gradient {
    background: linear-gradient(45deg, hsla(var(--team-independant), 65%, 10%, 1), hsla(var(--team-independant), 65%, 35%, 0.8));
  }
  .border-team-loup {
    border-color: hsla(var(--team-loup), 65%, 15%, 1);
  }
  .border-team-village {
    border-color: hsla(var(--team-village), 65%, 15%, 1);
  }
  .border-team-multi {
    border-color: hsla(var(--team-multi), 65%, 15%, 1);
  }
  .border-team-independant {
    border-color: hsla(var(--team-independant), 65%, 15%, 1);
  }

  /* Nouveaux styles pour les cartes de rôles */
  .card-role {
    @apply text-center rounded-lg p-4 relative overflow-hidden;
  }

  .card-role-loup {
    background: linear-gradient(to bottom right, rgb(152, 0, 0) 0%, #000 40%);
  }

  .card-role-village {
    background: linear-gradient(to bottom right,#013bdc 0%, #000 40%);
  }

  .card-role-independant {
    background: linear-gradient(to bottom right, #00ac7e 0%, #000 40%);
  }

  .card-role-multi {
    background: linear-gradient(to bottom right, #75007b 0%, #000 40%);
  }

  .card-role-content {
    @apply relative z-10;
  }

  .card-role-title {
    @apply text-2xl mb-2 font-bold text-white/95 tracking-wider;
    @apply drop-shadow-[0_2px_3px_rgba(0,0,0,0.8)];
    font-family: "UnifrakturCook", cursive;
  }

  .card-role-subtitle {
    @apply text-xl text-white/80;
    @apply drop-shadow-[0_1px_2px_rgba(0,0,0,0.9)];
    font-family: "UnifrakturCook", cursive;
  }
}

/* Font */
.gothic {
  font-family: "UnifrakturCook", cursive;
  font-weight: 500;
  font-style: normal;
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  animation: gradient-x 3s linear infinite;
}


